In [2]:
import pandas as pd
from dammit.fileio.gff3 import GFF3Parser

In [3]:
gff_file = "trinity.nema.fasta.dammit.gff3"
annotations = GFF3Parser(filename=gff_file).read()
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file.head()

/Users/johnsolk/anaconda3/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

             seqid             Name
4     Transcript_0         EDO30528
12    Transcript_1         EDO30528
63   Transcript_10  Sakowv30046339m
73  Transcript_100         EDO40810
82  Transcript_101         EDO40810

In [10]:
new_file.to_csv("nema_gene_name_id.csv")

In [6]:
annotations.columns

Index(['seqid', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase',
       'Dbxref', 'ID', 'Name', 'Note', 'Parent', 'Target', 'accuracy',
       'database', 'env_coords'],
      dtype='object')

In [7]:
annotations.head()

,seqid,source,type,start,end,score,strand,phase,Dbxref,ID,Name,Note,Parent,Target,accuracy,database,env_coords
0,Transcript_0,HMMER,protein_hmm_match,198,696,2.900000e-12,NaN,NaN,"""Pfam:PF10477.5""",homology:0,EIF4E-T,Nucleocytoplasmic shuttling protein for mRNA c...,NaN,EIF4E-T 1 194 +,0.67,NaN,199 705
1,Transcript_0,HMMER,protein_hmm_match,2631,2796,8.800000e+03,NaN,NaN,"""Pfam:PF10477.5""",homology:3,EIF4E-T,Nucleocytoplasmic shuttling protein for mRNA c...,NaN,EIF4E-T 549 596 +,0.55,NaN,2455 2862
2,Transcript_0,HMMER,protein_hmm_match,612,810,3.800000e-03,NaN,NaN,"""Pfam:PF10477.5""",homology:1,EIF4E-T,Nucleocytoplasmic shuttling protein for mRNA c...,NaN,EIF4E-T 205 272 +,0.58,NaN,550 846
3,Transcript_0,HMMER,protein_hmm_match,873,2058,1.400000e-04,NaN,NaN,"""Pfam:PF10477.5""",homology:2,EIF4E-T,Nucleocytoplasmic shuttling protein for mRNA c...,NaN,EIF4E-T 331 623 +,0.71,NaN,826 2064
4,Transcript_0,LAST,translated_nucleotide_match,785,3665,0.000000e+00,-,NaN,NaN,homology:384,EDO30528,NaN,NaN,EDO30528 326 1286 +,NaN,OrthoDB,NaN